body {
    overflow-x:hidden;
    font-size:14px;
    font-weight:300;
    line-height:1.5em;
    background:#f2f5f7;
}
.btn, body{
    font-family: Arial,sans-serif;
}
body, html{
    letter-spacing: .3px;
}
* {
    margin:0;
    padding:0
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding:0;
    color:#333;
    font-weight:700;
    moz-osx-font-smoothing:grayscale;
    webkit-font-smoothing:antialiased;
}
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#000;
    text-decoration:none;
}
ul {
    list-style: none;
}
.btn{
    text-transform: none !important;
}
a, a:hover {
    color: #333;
    text-decoration: none;
}
#header {
    background-color:#f93;
    overflow:unset;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
#pc_header {
    background-color:#f93;
    overflow:unset;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}
.split{
    height: 10px;
    background: #f2f5f7;
}
.nav-list-btn {
    margin-left:10px;
    background-color:transparent;
    border:none;
    color:#fff;
    line-height:1;
    font-size:21px
}
.info-circel {
    display:inline-block;
    width:8px;
    height:8px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    top:14px;
    right:1px
}
.nav-logo-icon {
    width:170px;
    line-height:55px
}
.nav-msg-icon {
    color: #fff;
    margin-top: 15px;
    font-size: 28px;
}
.nav-msg-container {
    padding:0 10px;
    position: relative;
    margin-right: 5px;
}
.nav-logo-container, .nav-msg-container {
    display:inline-block;
    height:55px;
    line-height:55px
}
.user-icon-container {
    position:relative
}
.message-count {
    width:22px;
    height:22px;
    border-radius:50%;
    position:absolute;
    top:12px;
    right:-1px;
    background-color:#fff;
    text-align:center;
    line-height:20px;
    font-size:12px;
    color:#f93;
    border:2px solid #f93
}
.top-nav-container{
    margin-top: 55px;
    background-color: #fff;
}
.mydeal-nav-brand::-webkit-scrollbar {
    display:none
}
.mydeal-nav-brand {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    border-bottom:1px solid #f1f1f1
}
.index-nav-ul a {
    padding:9px 10px;
    border-bottom:2px solid #fff
}
.index-nav-ul .active {
    color:#f93;
    border-color:#f93
}
.deal-nav-a {
    display:inline-block;
    padding:9px 6px
}
.deal-nav-a:hover {
    cursor:pointer;
    color:#f93
}
.deal-nav-a:last-child {
    border-right:0
}
.navbar {
    position:relative;
    min-height:50px;
    margin-bottom:20px;
    border:1px solid transparent
}
.navbar-static-top {
    z-index:1000;
    border-width:0 0 1px;
    margin-bottom:30px
}
.navbar-header {
    width:200px;
    margin-right:15px;
    padding-left: 0;
}
#logo {
    float:left;
    text-align:left;
    text-indent:-999em;
    padding:0;
    font-size:18px;
    line-height:20px;
    margin:0;
    width:100%
}
#logo h1 a {
    height:50px;
    display:block
}
.nav{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
}
.search-li {
    width: 190px;
    padding: 0;
}
.search-container {
    position:relative;
    padding:6px 0;
    margin:13.5px 0
}
.search-input {
    height:35px;
    border:none;
    border-radius:20px;
    padding-left:8px;
    color:#666;
    font-size:14px;
    width:100%
}
.search-input::-webkit-input-placeholder {
    color:#999
}
.search-input:focus::-webkit-input-placeholder {
    color:transparent
}
.search-input:focus {
    outline:none
}
.search-icon {
    position:absolute;
    right:8px;
    top:10px;
    visibility:visible
}
.logo-keyword {
    margin:14px 0 10px
}
.register-login-a {
    display:inline-block!important;
    padding:0!important;
    text-transform:none!important;
    font-size:16px!important
}
#bs-navbar li a {
    text-transform:uppercase;
    font-size:18px;
    color:#fff;
    background-color:#f93;
    height:74px;
    padding:0 15px;
    line-height:74px;
    font-size:14px!important
}
#bs-navbar li a:focus, #bs-navbar li a:hover {
    background-color:#f93!important;
    color:#ffffffa6!important
}
#bs-navbar li a.join-for-free:hover {
    color: #f93 !important;
    background-color: white !important;
}
.navbar-right {
    margin-right:0!important
}
.navbar-right .dropdown-menu.nav-news-entry .new-entry-img {
    float:left;
    width:50px;
    height:50px!important;
    border:1px solid #e5e5e5;
    padding:2px!important;
    display:inline-block!important
}
.navbar-right .dropdown-menu a:focus, .navbar-right .dropdown-menu a:hover {
    background-color:#f2f2f2!important
}
.nav>li>a>img{
    max-width: none;
}
.nav>li:hover .dropdown-menu {
    display:block
}
.dropdown, .dropup {
    position:relative
}
.dropdown-toggle:focus {
    outline:0
}
.dropdown-menu {
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);
    box-shadow:0 6px 12px rgba(0, 0, 0, .175)
}
.dropdown-menu {
    margin-top:-5px!important;
    border:1px solid #ddd;
    padding:14px 0;
    border-radius:0!important
}
.dropdown-menu a {
    font-size:16px!important;
    text-transform:none!important;
    height:32px!important;
    line-height:32px!important
}
.dropdown-menu a, .dropdown-menu a:focus {
    background-color:#fff!important;
    color:#333!important
}
.dropdown-menu.pull-right {
    right:0;
    left:auto
}
.dropdown-menu .divider {
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.dropdown-menu>li>a {
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#333;
    white-space:nowrap
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color:#262626;
    text-decoration:none;
    background-color:#f5f5f5
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color:#fff;
    text-decoration:none;
    background-color:#337ab7;
    outline:0
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color:#777
}
.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.nav-user-img {
    width:28px;
    height:28px;
    border-radius:3px
}
.right-nav{
    padding: 0 0 0 20px;
}
.right-nav>a {
    padding:0!important
}
.caret {
    border-top:6px dashed;
    border-right:6px solid transparent;
    border-left:6px solid transparent
}
.caret-bottom {
    position: absolute;
    right: 22px;
    top: -28px;
    height: 0!important;
}
.caret-bottom:hover {
    cursor:pointer
}
.caret-bottom span {
    border-bottom:9px dashed;
    border-right:9px solid transparent;
    border-left:9px solid transparent;
    border-top:0;
    color:#fff;
    z-index:2
}
.padd0{
    padding: 0 !important;
}
.deal-entry-container:nth-child(odd),.coupon-entry-container:nth-child(2n) {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.deal-entry-container:nth-child(odd) .deal-entry,.coupon-entry-container:nth-child(2n) .deal-entry {
    padding-left: 0;
}
.deal-entry-container:nth-child(2n),.coupon-entry-container:nth-child(odd) {
    padding-right: 0;
    border-bottom: 1px solid #ddd;
}
.deal-entry {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.deal-entry .product-img-container {
    height: 172px;
    opacity: 0;
}
.shade-container {
    position: relative;
    height: 172px;
    overflow: hidden;
}
.product-img-container {
    display: block;
    overflow: hidden;
    height: 110px;
    background-size: contain!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
}
.deal-entity-title {
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
    height: 32px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
    color: #666;
}
.new-entity-title {
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    height: 44px;
    overflow: hidden;
    margin-top: 10px;
}
.hot-entity-title {
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 34px;
    height: 44px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
}
.deal-account-list {
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    margin: 10px 0 0;
    line-height: 1.3;
}
.deal-account-list li {
    float: left;
}
.prime-acount-list, .prime-entity-title {
    margin-bottom: 34px;
    overflow: hidden;
}
.prime-value {
    color: #f93;
    margin-bottom: 0;
}
.prime-tile {
    color: #666;
    margin-bottom: 0;
}
.deal-price-cotainer {
    float: right!important;
}
.freebies-entry, .hot-deal-entry, .points-reward-entry, .new-deal-entry {
    width: 24%;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    margin: 0 1.33% 1.33% 0;
    float: left;
    display: block;
    overflow: hidden;
}
.new-deal-entry:hover,.freebies-entry:hover {
    -webkit-box-shadow:0 1px 10px -1px rgba(151, 171, 187, .7);
    box-shadow:0 1px 10px -1px rgba(151, 171, 187, .7)
}
.new-deal-entry img {
    display:block;
    margin:0 auto;
    max-width:100%;
    max-height:100%
}
.cashback-circle-tip {
    position: absolute;
    border-radius: 50%;
    background-color: #f8ac59;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 65px;
    height: 65px;
    line-height: 65px;
    z-index: 15;
}
.step-tips {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    height:120px;
    background-color:#fff;
    padding:36px 20px;
    margin:10px auto 30px;
    text-align:center;
    line-height:1
}
.step-img {
    float:left
}
.steps-content {
    float:left;
    color:#333;
    margin-left:12px
}
.step-deal {
    padding-left:45px
}
.step-cashback {
    padding-right:45px
}
.steps-content h4 {
    margin-top:0;
    margin-bottom:6px;
    font-size:19px;
    color:#333;
    font-weight:500
}
.steps-content p {
    font-size:14px;
    margin-bottom:0;
    color:#555;
    text-align:left
}
.deals-classify-section {
    margin-bottom: 20px;
    overflow: hidden;
}
.deal-type-title {
    border-left: 3px solid #f93;
    padding-left: 13px;
    font-weight: 500;
    margin: 0 0 20px;
    font-size: 24px;
}
.inline-view-all {
    float: right;
    font-size: 14px;
    line-height: 18px;
    color: #f93;
    font-weight: 400;
    position: relative;
    padding-right: 15px;
}
.view-all-icon {
    font-size: 26px;
    position: absolute;
    bottom: -4px;
    right: 0;
}
#newsletter {
    padding: 25px 30px;
    margin-top: 0;
    background-color: #3c4759;
    color: #afacbb;
}
.newsletter-tip-block h4 {
    color: #fff;
}
.color-orange {
    color: #ff5722;
}
.newsletter-tip-block p {
    color: #fff;
    margin-bottom: 0;
}
.newsletter-form {
    margin-top: 9px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
#newsletter-submit {
    height: 43px;
    background-color: #f4511e;
    color: #fff;
}
#newsletter-tips {
    color: #f4511e;
    margin-bottom: 0;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.form-control {
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 43px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
#footer {
    background-color: #fff;
    text-align: center;
    margin-bottom: 50px;
}
.footer-logo {
    max-width: 300px;
    margin: 0 auto;
}
#footer img.logo {
    margin-bottom: 15px;
    width: 200px;
}
.footer-section {
    width: 180px;
    margin: 0 auto;
}
.footer-title {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}
.help-link {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
}
.copyright-txt {
    margin: 0 5px;
}
.footer-nav-list {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-nav-list li:first-child {
    border-left: none;
}
.footer-nav-list li {
    float: left;
    padding: 0 25px;
    height: 14px;
    line-height: 14px;
    border-left: 1px solid #ccc;
}
#back-top {
    background-color: #333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    height: 35px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-transform: uppercase;
    width: 48px;
    opacity: .9;
    line-height: 35px;
    z-index: 100000;
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}
@media (min-width:1400px) {
    .container {
        width:1370px
    }
}
@media (min-width:769px) {
    .navbar {
        border-radius:4px
    }
    .navbar-static-top {
        border-radius:0
    }
    .navbar-header {
        float:left
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-right .dropdown-menu {
        right:0;
        left:auto
    }
    .navbar-right .dropdown-menu-left {
        right:auto;
        left:0
    }
    .navbar-left {
        float:left!important
    }
    .navbar-right {
        float:right!important;
        margin-right:-15px
    }
    .navbar-right~.navbar-right {
        margin-right:0
    }
    .message-count {
        width:22px;
        height:22px;
        border-radius:50%;
        position:absolute;
        top:20px;
        right:-10px;
        background-color:#fff;
        text-align:center;
        line-height:18px;
        font-size:12px;
        color:#f93;
        border:2px solid #f93
    }
    .shade-container {
        height: 232px;
    }
    .navbar-static-top{
        margin-bottom: 10px;
    }
    .split{
        height: 20px;
        margin-top: 85px;
    }
    .inline-view-all {
        font-size: 18px;
        line-height: 32px;
    }
    #footer {
        padding-top: 30px;
        margin-bottom: 0;
    }
    .copyright {
        padding: 20px 0;
        text-align: center;
        font-size: 12px;
    }
}
@media (max-width:768px) {
    #bs-navbar .navbar-nav li {
        border:1px solid #fff
    }
    #logo {
        width:200px!important
    }
    #logo h1 a {
        height:20px
    }
    .banner-title-detail {
        font-size:18px;
        margin-top:10px
    }
    .detail-bannerdel-price {
        font-size:36px
    }
    .deals-classify-section {
        margin-top: 10px;
        background-color: #fff;
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .deal-type-title {
        font-weight: 700;
        margin: 20px 0;
        font-size: 16px;
    }
    #back-top {
        background-color: rgba(0,0,0,.4);
        border-radius: 50%;
        bottom: 50px;
        color: #fff;
        display: none;
        height: 40px;
        position: fixed;
        right: 10px;
        bottom: 140px;
        text-align: center;
        width: 40px;
        opacity: .9;
        line-height: 35px;
        z-index: 100;
        -webkit-transition: all .1s ease-in-out 0s;
        transition: all .1s ease-in-out 0s;
    }
    #back-top span {
        font-size: 22px;
        line-height: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #logo{
        width: 150px;
    }
    .navbar-header{
        width: 150px;
    }
    #bs-navbar li a{
        padding: 0 8px;
        font-size: 13px!important;
    }
}
