body {
    overflow-x:hidden;
    font-size:14px;
    font-weight:300;
    line-height:1.5em;
    background:#f2f5f7;
}
.btn, body{
    font-family: Arial,sans-serif;
}
.btn, button{
    outline: none !important;
}
body, html{
    letter-spacing: .3px;
}
* {
    margin:0;
    padding:0
}
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding: 0 10px;
}
label {
    font-weight: 400;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    padding:0;
    color:#333;
    font-weight:700;
    moz-osx-font-smoothing:grayscale;
    webkit-font-smoothing:antialiased;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#000;
    text-decoration:none;
}
ul {
    list-style: none;
}
.btn{
    text-transform: none !important;
}
a{
    color: #333;
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}
.btn:hover, .btn:active, .btn:visited {
    color: inherit;
}
.btn-group-lg>.btn, .btn-lg {
    min-width: 122px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3;
}
#header {
    background-color:#f93;
    overflow:unset;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
#pc_header {
    background-color:#f93;
    overflow:unset;
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
    height: 75px;
}
.split{
    height: 10px;
    background: #f2f5f7;
}
.nav-list-btn {
    margin-left:10px;
    background-color:transparent;
    border:none;
    color:#fff;
    line-height:1;
    font-size:21px
}
.info-circel {
    display:inline-block;
    width:8px;
    height:8px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    top:14px;
    right:1px
}
.nav-logo-icon {
    width:170px;
    line-height:55px
}
.nav-msg-icon {
    color: #fff;
    margin-top: 15px;
    font-size: 28px;
}
.nav-msg-container {
    padding:0 10px;
    position: relative;
    margin-right: 5px;
}
.nav-logo-container, .nav-msg-container {
    display:inline-block;
    height:55px;
    line-height:55px
}
.user-icon-container {
    position:relative
}
.message-count {
    width:22px;
    height:22px;
    border-radius:50%;
    position:absolute;
    top:12px;
    right:-1px;
    background-color:#fff;
    text-align:center;
    line-height:20px;
    font-size:12px;
    color:#f93;
    border:2px solid #f93
}
.top-nav-container{
    margin-top: 55px;
    background-color: #fff;
}
.mydeal-nav-brand::-webkit-scrollbar {
    display:none
}
.mydeal-nav-brand {
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    border-bottom:1px solid #f1f1f1
}
.index-nav-ul a {
    padding:9px 10px;
    border-bottom:2px solid #fff
}
.index-nav-ul .active {
    color:#f93;
    border-color:#f93;
    border-right: none;
}
.deal-nav-a {
    display:inline-block;
    padding:9px 6px
}
.deal-nav-a:hover {
    cursor:pointer;
    color:#f93
}
.deal-nav-a:last-child {
    border-right:0
}
.navbar {
    position:relative;
    min-height:50px;
    margin-bottom:20px;
    border:1px solid transparent
}
.navbar-static-top {
    z-index:1000;
    border-width:0 0 1px;
    margin-bottom:30px
}
.navbar-header {
    width:200px;
    margin-right:15px;
    padding-left: 0;
}
#logo {
    float:left;
    text-align:left;
    text-indent:-999em;
    padding:0;
    font-size:18px;
    line-height:20px;
    margin:0;
    width:100%
}
#logo h1 a {
    height:50px;
    display:block
}
.nav{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.nav > li, .nav > li > a {
    position: relative;
    display: block;
}
.search-li {
    width: 190px;
    padding: 0;
}
.search-container {
    position:relative;
    padding:6px 0;
    margin:13.5px 0
}
.search-input {
    height:35px;
    border:none;
    border-radius:20px;
    padding-left:8px;
    color:#666;
    font-size:14px;
    width:100%
}
.search-input::-webkit-input-placeholder {
    color:#999
}
.search-input:focus::-webkit-input-placeholder {
    color:transparent
}
.search-input:focus {
    outline:none
}
.search-icon {
    position:absolute;
    right:8px;
    top:10px;
    visibility:visible
}
.logo-keyword {
    margin:14px 0 10px
}
.register-login-a {
    display:inline-block!important;
    padding:0!important;
    text-transform:none!important;
    font-size:16px!important
}
#bs-navbar li a {
    text-transform:uppercase;
    font-size:18px;
    color:#fff;
    background-color:#f93;
    height:74px;
    padding:0 15px;
    line-height:74px;
    font-size:14px!important
}
#bs-navbar li a:focus, #bs-navbar li a:hover {
    background-color:#f93!important;
    color:#ffffffa6!important
}
#bs-navbar li a.join-for-free:hover {
    color: #f93 !important;
    background-color: white !important;
}
.navbar-right {
    margin-right:0!important
}
.navbar-right .dropdown-menu.nav-news-entry .new-entry-img {
    float:left;
    width:50px;
    height:50px!important;
    border:1px solid #e5e5e5;
    padding:2px!important;
    display:inline-block!important
}
.navbar-right .dropdown-menu a:focus, .navbar-right .dropdown-menu a:hover {
    background-color:#f2f2f2!important
}
.nav>li>a>img{
    max-width: none;
}
.nav>li:hover .dropdown-menu {
    display:block
}
.dropdown, .dropup {
    position:relative
}
.dropdown-toggle:focus {
    outline:0
}
.dropdown-menu {
    position:absolute;
    top:100%;
    left:0;
    z-index:1000;
    display:none;
    float:left;
    min-width:160px;
    padding:5px 0;
    margin:2px 0 0;
    font-size:14px;
    text-align:left;
    list-style:none;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0, 0, 0, .15);
    border-radius:4px;
    -webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);
    box-shadow:0 6px 12px rgba(0, 0, 0, .175)
}
.dropdown-menu {
    margin-top:-5px!important;
    border:1px solid #ddd;
    padding:14px 0;
    border-radius:0!important
}
.dropdown-menu a {
    font-size:16px!important;
    text-transform:none!important;
    height:32px!important;
    line-height:32px!important
}
.dropdown-menu a, .dropdown-menu a:focus {
    background-color:#fff!important;
    color:#333!important
}
.dropdown-menu.pull-right {
    right:0;
    left:auto
}
.dropdown-menu .divider {
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.dropdown-menu>li>a {
    display:block;
    padding:3px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#333;
    white-space:nowrap
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color:#262626;
    text-decoration:none;
    background-color:#f5f5f5
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color:#fff;
    text-decoration:none;
    background-color:#337ab7;
    outline:0
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color:#777
}
.dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent;
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
#bs-navbar li#account-nav a:hover {
    cursor:pointer;
    color:#fff!important
}
#bs-navbar ul#account-dropdown-menu li a:hover {
    color:#333!important;
    background-color:#f2f2f2!important
}
.logout, .logout:hover{
    color: #333;
    font-size: 13px !important;
}
.logout:hover{
    text-decoration: none;
}
.nav-user-img {
    width:28px;
    height:28px;
    border-radius:3px
}
.navbar-nav>li>.nav-news-entry {
    padding: 15px 15px 0!important;
    min-width: 300px;
    right: -13px;
}
.right-nav{
    padding: 0 0 0 20px;
}
.right-nav>a {
    padding:0!important
}
.news-caret {
    right: 15px;
    top: -28px;
}
.new-entry {
    width: 100%;
    position: relative;
}
.new-entry a {
    display: block!important;
    height: 100%!important;
    padding: 0!important;
}
.news-content-container {
    width: 260px;
    float: left;
    margin-left: 10px;
    height: 50px;
}
.new-content {
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: -4px;
    line-height: 1.2;
    white-space: normal;
    color: #333;
}
.message-time {
    font-size: 12px;
    color: #999;
}
.dropdown-menu.nav-news-entry #view-all-message {
    display: block;
    font-size: 14px!important;
    text-align: center;
    color: #666!important;
    margin-top: -7px;
}
.caret {
    border-top:6px dashed;
    border-right:6px solid transparent;
    border-left:6px solid transparent
}
.caret-bottom {
    position: absolute;
    right: 22px;
    top: -28px;
    height: 0!important;
}
.caret-bottom:hover {
    cursor:pointer
}
.caret-bottom span {
    border-bottom:9px dashed;
    border-right:9px solid transparent;
    border-left:9px solid transparent;
    border-top:0;
    color:#fff;
    z-index:2
}
.padd0{
    padding: 0 !important;
}
.deal-entry-container:nth-child(odd),.coupon-entry-container:nth-child(2n) {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.deal-entry-container:nth-child(odd) .deal-entry,.coupon-entry-container:nth-child(2n) .deal-entry {
    padding-left: 0;
}
.deal-entry-container:nth-child(2n),.coupon-entry-container:nth-child(odd) {
    padding-right: 0;
    border-bottom: 1px solid #ddd;
}
.deal-entry {
    background: #fff;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.deal-entry .product-img-container {
    height: 172px;
    opacity: 0;
}
.shade-container {
    position: relative;
    height: 172px;
    overflow: hidden;
}
.product-img-container {
    display: block;
    overflow: hidden;
    height: 110px;
    background-size: contain!important;
    background-position: 50%!important;
    background-repeat: no-repeat;
}
.deal-entity-title {
    line-height: 16px;
    font-weight: 400;
    font-size: 12px;
    height: 32px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
    color: #666;
}
.new-entity-title {
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    height: 44px;
    overflow: hidden;
    margin-top: 10px;
}
.hot-entity-title {
    line-height: 22px;
    font-weight: 500;
    font-size: 18px;
    height: 44px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 0;
}
.deal-account-list {
    font-size: 13px;
    text-align: center;
    overflow: hidden;
    margin: 10px 0 0;
    line-height: 1.3;
}
.deal-account-list li {
    float: left;
}
.prime-acount-list, .prime-entity-title {
    margin-bottom: 34px;
    overflow: hidden;
}
.normal-account-list {
    margin: 16px 0 22px;
}
.prime-value {
    color: #f93;
    margin-bottom: 0;
}
.prime-tile {
    color: #666;
    margin-bottom: 0;
}
.deal-price-cotainer {
    float: right!important;
}
.freebies-entry, .hot-deal-entry, .points-reward-entry, .new-deal-entry {
    width: 24%;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    margin: 0 1.33% 1.33% 0;
    float: left;
    display: block;
}
.new-deal-entry:hover,.freebies-entry:hover,.hot-deal-entry:hover {
    -webkit-box-shadow:0 1px 10px -1px rgba(151, 171, 187, .7);
    box-shadow:0 1px 10px -1px rgba(151, 171, 187, .7)
}
.new-deal-entry img {
    display:block;
    margin:0 auto;
    max-width:100%;
    max-height:100%
}
.cashback-circle-tip {
    position: absolute;
    border-radius: 50%;
    background-color: #f8ac59;
    color: #fff;
    font-size: 13px;
    text-align: center;
    width: 65px;
    height: 65px;
    line-height: 65px;
    z-index: 15;
}
.step-tips {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    height:120px;
    background-color:#fff;
    padding:36px 20px;
    margin:10px auto 30px;
    text-align:center;
    line-height:1
}
.step-img {
    float:left
}
.steps-content {
    float:left;
    color:#333;
    margin-left:12px
}
.step-deal {
    padding-left:45px
}
.step-cashback {
    padding-right:45px
}
.steps-content h4 {
    margin-top:0;
    margin-bottom:6px;
    font-size:19px;
    color:#333;
    font-weight:500
}
.steps-content p {
    font-size:14px;
    margin-bottom:0;
    color:#555;
    text-align:left
}
.deals-classify-section {
    margin-bottom: 20px;
    overflow: hidden;
}
.deal-type-title {
    border-left: 3px solid #f93;
    padding-left: 13px;
    font-weight: 500;
    margin: 0 0 20px;
    font-size: 24px;
}
.inline-view-all {
    float: right;
    font-size: 14px;
    line-height: 18px;
    color: #f93 !important;
    font-weight: 400;
    position: relative;
    padding-right: 15px;
}
.view-all-icon {
    font-size: 26px;
    position: absolute;
    bottom: -4px;
    right: 0;
}
#newsletter {
    padding: 25px 30px;
    margin-top: 0;
    background-color: #3c4759;
    color: #afacbb;
}
.newsletter-tip-block h4 {
    color: #fff;
}
.color-orange {
    color: #ff5722;
}
.newsletter-tip-block p {
    color: #fff;
    margin-bottom: 0;
}
.newsletter-form {
    margin-top: 9px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
#newsletter-submit {
    height: 43px;
    background-color: #f4511e;
    color: #fff;
}
#newsletter-tips {
    color: #f4511e;
    margin-bottom: 0;
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}
.form-control {
    display: block;
    padding: 5px 10px;
    width: 100%;
    height: 43px;
    border: 1px solid #ededed;
    border-radius: 0;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-size: 14px;
    line-height: 1.42857143;
}
#footer {
    background-color: #fff;
    text-align: center;
    margin-bottom: 0;
}
.footer-logo {
    max-width: 300px;
    margin: 0 auto;
}
#footer img.logo {
    margin-bottom: 15px;
    width: 200px;
}
.footer-section {
    width: 180px;
    margin: 0 auto;
}
.footer-title {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}
.help-link {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
}
.copyright-txt {
    margin: 0 5px;
}
.footer-nav-list {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
}
.footer-nav-list li:first-child {
    border-left: none;
}
.footer-nav-list li {
    float: left;
    padding: 0 22px;
    height: 14px;
    line-height: 14px;
    border-left: 1px solid #ccc;
}
#back-top {
    background-color: #333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    height: 35px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-transform: uppercase;
    width: 48px;
    opacity: .9;
    line-height: 35px;
    z-index: 100000;
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}
.bg-white {
    background-color: #fff!important;
}
.pagination {
    margin: 0 0 20px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #f93!important;
    border-color: #f93!important;
}
.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #f93;
}
.page_box{
    text-align: center;
}
.wite-btn {
    border: 1px solid #ff9936;
}
.wite-btn, .wite-btn:hover {
    color: #ff9936;
}
.login_box{
    background: #fff;
    width: 100%;
    margin-top: 75px;
    padding-top: 30px;
}
.email-container {
    position: relative;
}
#login-form, #form-signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
}
.input-clear {
    display: none;
    width: 43px;
    height: 43px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.input-clear span {
    width: 23px;
    height: 23px;
    border: 1px solid #999;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    line-height: 20px;
    color: #999;
    font-size: 16px;
}
#mailBox {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 5px 5px;
    position: absolute;
    z-index: 9999;
    display: none;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.35);
}
.show-hide-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
    height: 43px;
    font-size: 23px;
    text-align: center;
    color: #999;
}
.show-hide-icon i {
    margin-top: 10px;
}
.form-control:focus {
    border-color:#f93;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 153, 51, .6);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 153, 51, .6)
}
.verify-code {
    width: 202px!important;
    display: inline-block!important;
    height: 36px!important;
}
.banner-title-detail {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
}
.carousel-acount-list {
    margin-bottom: 10px;
}
.carousel li {
    margin-right: 0!important;
}
.account-fullfill, .account-left, .account-off {
    float: left;
    text-align: center;
}
.prime-value {
    color: #f93;
    margin-bottom: 0;
}
.prime-tile {
    color: #666;
    margin-bottom: 0;
}
.space-vertical-lines {
    width: 1px;
    height: 32px;
    background-color: #efefef;
    float: left;
    margin-top: 11px;
}
.fullfill-methed, .prime-tile {
    color: #666;
    margin-bottom: 0;
}
#detail-arousel {
    background-color:#fff;
    padding-top:15px;
    padding-bottom:20px
}
.carousel, .carousel-inner {
    position: relative;
}
.detail-product-img {
    display:block;
    overflow:hidden;
    height:300px;
    background-size:contain!important;
    background-position:50%!important
}
.carousel-indicators {
    bottom: 0!important;
    margin-bottom: 5px;
}
#detail-arousel .carousel-indicators {
    top:316px!important
}
.carousel-indicators li {
    border-radius: 50%;
    background-color: #e9e9e9!important;
    margin: 0 7px!important;
}
.detail-img-count {
    position:absolute;
    top:-30px;
    left:4px;
    background-color:#a1a1a1;
    color:#fff;
    padding:1px 13px;
    border-radius:16px;
    font-size:13px;
    z-index:100
}
.detail-social-link {
    padding:20px 0;
    text-align:center;
    background-color:#f2f5f7
}
.detail-social-link a {
    width:50px;
    display:inline-block;
    height:50px;
    line-height:50px;
    font-size:32px;
    border-radius:50%;
    color:#fff;
    text-align:center
}
.share-cancel-btn {
    display:block;
    width:100%;
    height:50px;
    background-color:#fff;
    border:none;
    border-top:1px solid #eee
}
.detail-func-container {
    position: absolute;
    background-color: #a1a1a1;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 0;
    z-index: 100;
    padding-right: 2px;
}
#wish-btn-container {
    float: right;
    font-size: 14px;
    color: #666;
    text-align: center;
    padding: 1px;
    position: absolute;
    top: -40px;
    right: 4px;
    z-index: 100;
}
.wish-icon-container {
    border: 1px solid #d7d7d7;
    padding: 4px;
    border-radius: 50%;
}
.wish-icon {
    display: block;
    height: 20px;
}
#total-collect {
    font-size: 12px;
}
.origin-price {
    color: #999;
    text-decoration: line-through;
    font-size: 12px;
}
.now-price {
    color: #f93;
}
.detai-steps, .review-container {
    background-color: #fff;
    margin-top: 10px;
}
.detai-steps {
    font-size: 13px;
    line-height: 1.2;
    padding-bottom: 20px!important;
}
.detail-step {
    padding: 0;
    text-align: center;
    font-size: 12px;
}
.step-item-icon {
    display: block;
    margin: 0 auto 10px;
}
.function-block-title {
    font-weight: 700;
    margin: 20px 0;
    border-bottom: 1px solid #d7d7d7;
    font-size: 16px;
    padding-bottom: 10px;
}
.error {
    color: #ff6632;
}
.describe-container {
    margin-top: 10px;
    background-color: #fff;
}
.describe-container>div {
    padding: 0 0 20px;
    font-size: 13px;
    line-height: 1.2;
}
.describe-container>div {
    padding: 0 0 20px;
    font-size: 13px;
    line-height: 1.2;
}
.detail-requestbtn-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    -webkit-box-shadow: 0 3px 6px #000;
    box-shadow: 0 3px 6px #000;
    background-color: #fff;
}
.btn-right-content {
    background-color: #f93;
    color: #fff;
    font-size: 14px;
    padding: 0;
    height: 50px;
    line-height: 1;
    opacity: 1;
    border-radius: 0;
    width: 100%;
}
.v3-detail-btn-content {
    font-size: 16px;
    opacity: 1;
    font-weight: 700;
}
.modal-dialog {
    position: absolute;
    bottom: 0;
    width: 96%;
    margin-left: 2%!important;
}
.dialog-title-container {
    padding-top: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d0d0d0;
}
.get-offf-title {
    text-align: center;
    color: #f93;
    margin: 0;
    font-size: 24px;
}
.get-offf-tip {
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 5px;
}
.detail-social-link {
    padding: 20px 0;
    text-align: center;
    background-color: #f2f5f7;
}
.detail-social-link a {
    width: 50px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.share-facebook {
    background-color: #3b5998;
}
.share-cancel-btn {
    display: block;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    border-top: 1px solid #eee;
}
.share-twitter {
    background-color: #00aced;
}
button.close {
    position: absolute;
    z-index: 99999999999999;
    right: 0;
    color: #ccc!important;
    margin: 0;
    font-size: 48px;
    line-height: .5;
}
.offer-ends-container {
    background-color: #f93;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}
.offer-ends-container>span {
    display: inline-block;
}
.secured-title {
    font-size: 18px;
    font-weight: 600;
}
.modal-content {
    padding: 1px 1px 10px 1px !important;
}
.btn-right-content:visited,.btn-right-content:active,.btn-right-content:focus{
    color: #fff !important;
}
.banner-content {
    overflow: hidden;
    margin: 0 15px;
    background-color: #fff;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(151,171,187,.7);
    box-shadow: 0 2px 3px -1px rgba(151,171,187,.7);
}
#detail-img-list li {
    width: 46%;
    max-width: 70px;
    float: left;
    margin: 0 2% 5px;
    border: 1px solid #a2a6ac;
}
#detail-img-list li img {
    height: 68px;
    margin: 0 auto;
}
#outerdiv {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: none;
}
#innerdiv {
    position: absolute;
}
#bigimg {
    border: 5px solid #fff;
}
#banner-img {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: 0 auto 24px;
    border: 1px solid #f0f0f0;
    height: 400px;
}
.describe-container {
    margin-top: 30px;
}
.v3-banner-right {
    margin-left: 0;
}
.deal-detail-price {
    padding-right: 0!important;
}
.v3-detail-price {
    overflow: hidden;
}
.v3-price-container {
    float: left;
    margin: 0;
}
.v3-relprice {
    font-size: 46px;
    line-height: 46px;
    color: #f93;
    font-weight: 600;
}
.v3-origin-price {
    font-size: 18px;
    color: #999;
    margin-left: 5px;
    text-decoration: line-through;
}
.detail-acount-list {
    margin-top: 15px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}
.account-fullfill {
    width: 38%;
}
.v3-detail-btn {
    float: none;
    width: 100%;
    height: 62px;
    line-height: 1.2!important;
    text-align: center;
    background-color: #f93;
    color: #fff!important;
    text-transform: none!important;
    padding: 7px!important;
    border-radius: 3px;
}
.v3-detail-btn-content {
    font-size: 22px;
}
.detail-points-left {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 35px;
}
.social-sharing {
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.social-sharing a {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    margin: 0 10px 10px 0;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-weight: 400;
}
.social-sharing .icon {
    padding: 0 5px 0 10px;
}
.social-sharing span {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}
.social-sharing * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.share-title {
    font-weight: 900;
    font-size: 12px;
    padding-right: 10px;
}
.v3-detai-steps {
    border-top: 1px solid #f2f2f2;
    margin-top: 25px;
    padding-top: 35px;
}
.detail-steps-title {
    margin-top: 0;
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.detail-step-item {
    padding: 15px 10px;
    background-color: #f6f6f6;
    border: 1px solid #e2e2e2;
    font-size: 14px;
}
.step-line-icon {
    display: block;
    margin: 10px auto;
}
.sorry-tip-icon {
    margin:42px auto 0;
    display:block
}
.loading-img {
    display: block;
    margin: 20px auto 0;
    width: 50px;
}
.btn-link {
    font-weight:400;
    color:#337ab7;
    border-radius:0
}
.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color:transparent
}
.btn-link:focus, .btn-link:hover {
    color:#23527c;
    text-decoration:underline;
    background-color:transparent
}
.btn-link[disabled]:focus, .btn-link[disabled]:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:hover {
    color:#777;
    text-decoration:none
}
.amazon_link {
    color: #fff !important;
}
.amazon_link:link, .amazon_link:visited, .amazon_link:hover, .amazon_link:active{
    color: #fff !important;
}
.secured-tip {
    font-size: 12px;
    margin-top: 3px;
}
.secured-expires-tip {
    font-size:14px;
    text-align:center;
    margin:10px 0
}
.secured-order-form {
    width: 90%;
    margin: 0 auto;
}
.upOrder-step-title {
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 10px;
    text-align: center;
}
.go-amazon-btn {
    background-color: #ff9936;
    font-size: 14px!important;
    text-transform: none!important;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    width: 60%;
    display: block;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    padding: 0!important;
    border: none;
}
.upOrder-form {
    width: 90%;
    margin: 0 auto 20px;
}
.upOrder-form-group {
    position: relative;
}
.form-group-tip {
    position: absolute;
    top: 10px;
    left: 5px;
}
.form-group-input {
    padding-left: 95px;
    background-color: #f6f6f6;
    border: none;
}
.form-group-error {
    width: 100%!important;
    margin-top: 5px!important;
}
.upOrder-form-btnss {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.operation-btn {
    width: 144px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    display: block;
    margin: 0 0 15px;
    padding: 0;
    background-color: #fff;
    border: 1px solid #f93;
    text-align: center;
    border-radius: 3px;
    float: right;
    color: #f93 !important;
}
.operation-btn:active, .operation-btn:focus, .operation-btn:hover {
    background-color:#f93;
    color:#fff !important;
    border-color:#f93;
    outline:0!important
}
#abandon-deal-btn {
    width: 124px;
    text-align: center;
    background-color: #b7b7b7;
    float: left;
    font-weight: 400!important;
    line-height: 30px;
    padding: 0!important;
}
#user-submitted-post {
    float: right;
    line-height: 30px;
}
.sorry-tip-content {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 15px;
    color: #333;
}
.modal-tip-point {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 0;
}
.container-bg {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 30px;
}
.account-menu-container {
    float: left;
    width: 16%;
}
.account-content-container {
    width: 84%;
    float: left;
    padding: 20px;
    border-left: 1px solid #efefef;
    min-height: 600px;
}
.user-photo {
    width: 58px;
    display: block;
    margin: 41px auto 0;
    border-radius: 4px;
}
.user-email {
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
}
.point-mess-container {
    margin: 0 auto;
}
.point-container {
    float: left;
}
.point-amount {
    font-size: 14px;
    color: #ccc;
}
.news-container {
    float: right;
    position: relative;
}
.news-amount {
    position: absolute;
    top: -6px;
    left: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff5936;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
}
.cross-line {
    width: 180px;
    height: 1px;
    background-color: #f5f5f5;
    margin: 57px auto 30px;
}
.account-menu-list li {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    letter-spacing: .5px;
}
.account-menu-a {
    padding-left: 30px;
    display: block;
    width: 100%;
    height: 100%;
    border-left: 3px solid #fff;
    color: #666;
}
.account-menu-a.active {
    background-color: #f3f3f3;
}
.account-menu-a.active, .account-menu-a:hover {
    border-left: 3px solid #f93;
    color: #333!important;
}
#deal-detal-tab {
    margin: 0;
}
#deal-detal-tab li a {
    border-top: 2px solid #fff;
    font-size: 18px;
}
#deal-detal-tab li.active a {
    border-color: #efefef;
    border-top: 2px solid #ff9936;
    color: #ff9936;
    border-radius: 0;
    border-bottom-color: transparent;
    border-bottom: 1px solid #fff;
    font-weight: 700;
}
.upload-img {
    display: block;
    margin: 40px 0;
    width: 120px;
    height: 120px;
    padding: 0;
    position: relative;
    float: left;
    border-radius: 6px;
}
#layer-upimg-container {
    display: none;
}
.layer-contents, .layer-masks {
    position: absolute;
    width: 100%;
    left: 0;
}
.layer-masks {
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.3);
}
.layer-contents {
    overflow: hidden;
    top: 50%;
    right: 0;
    margin: auto;
    color: #fff;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 14px;
}
.uporder-succ-tip {
    float: left;
    background-color: #5cb85c;
    width: 200px;
    padding-left: 15px;
    margin-left: 15px;
    position: absolute;
    bottom: 40px;
    left: 120px;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    display: none;
}
.public-profile {
    margin-top: 28px;
}
.public-profile .form-group {
    margin-bottom: 30px;
}
.form-group dt {
    margin: 0 0 6px;
    font-size: 14px;
    color: #24292e;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}
.public-profile .form-group dt {
    font-size: 14px;
    color: #999;
}
#changepassword-form .form-control, #paypal-account .form-control, .public-profile .form-control {
    width: 314px;
    height: 43px;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.birth-select {
    width: 92px!important;
    display: inline-block;
    margin-right: 15px;
}
.method-dot {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: #7d7d7d;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 18px;
    margin-right: 10px;
}
.profile-list {
    font-size: 14px;
    line-height: 1.3;
}
.profile-list li {
    margin-top: 10px;
}
.question-icon {
    width: 18px!important;
    height: 18px!important;
    border-radius: 50%!important;
    padding: 0!important;
    color: #f93!important;
    border-color: #f93!important;
    border: 1px solid;
    line-height: 16px;
    font-size: 14px;
}
#changepassword-form, #paypal-account {
    margin-top: 40px;
}
#changepassword-form label {
    width: 170px;
}
#changepassword-form .form-control, #paypal-account .form-control {
    display: inline-block;
}
.model-close {
    float: right;
    width: 40px;
    height: 40px;
    font-size: 21px;
    font-weight: 700;
    text-shadow: none;
    color: #333;
    opacity: 1!important;
    margin: 2px;
    font-weight: 200;
    font-size: 40px;
}
.upload-img-title {
    margin: 0;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    padding-left: 20px;
    border-bottom: 1px solid #efefef;
}
.modal-content-upimg {
    padding: 30px 24px 10px;
    overflow: hidden;
}
.user-img-containers {
    width: 300px;
    float: left;
}
.user-img-containers>div {
    width: 300px;
    height: 300px;
}
.upOrder-form-btn {
    color: #fff!important;
    background-color: #ff9936;
    height: 30px;
    padding: 0 5px!important;
    font-size: 14px;
    font-weight: 700!important;
    border-radius: 3px!important;
    text-transform: none!important;
    line-height: 30px;
    display: inline-block!important;
    min-width: 120px!important;
}
.upimg-tip {
    font-size: 12px;
    color: #666;
    line-height: 1.3;
    margin-top: 10px;
    margin-bottom: 10px;
}
#cropped_result {
    width: 120px;
    height: 120px;
    display: inline-block;
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: #efefef;
}
.upload {
    height: 36px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 36px;
    background-color: #ff9936;
    width: 116px;
    text-align: center;
    color: #fff !important;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
.change {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.error {
    color: #ff6632;
}
#upimg-cancel {
    background-color: #fff;
    position: relative;
    float: none;
    border: 1px solid #ff9936;
    color: #ff9936!important;
    margin-left: 25px;
    font-size: 14px;
}
.user-img-container {
    height: 110px;
    background-color: #fff;
}
.account-nav-container {
    margin-top: 10px;
}
.account-nav-container>ul {
    margin-bottom: 0;
    color: #666;
}
.account-nav-container .account-nav-li {
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
    background-color: #fff;
    line-height: 50px;
}
.account-nav-container>ul>li>a {
    display: block;
    padding: 0 15px;
    font-size: 15px;
}
.account-nav-icon {
    float: right;
    line-height: 50px;
    font-size: 24px;
    color: #ccc;
}
.header-line {
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}
.header-line-back {
    font-size: 34px;
    float: left;
    color: #666;
    padding: 0 30px 0 5px;
}
.header-line-page {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    display: inline;
    margin-left: -47px;
}
.deal-list-title {
    height: 39px;
    line-height: 39px;
    background-color: #f5f5f5;
    margin: 20px 0 10px;
    color: #666;
    font-size: 16px;
}
.clear-col {
    text-align: center;
    padding: 0;
}
.deal-list-item {
    border: 1px solid #efefef;
    margin: 10px 0 0;
}
.deal-id-time {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #efefef;
    padding: 0 20px;
    font-size: 14px;
}
.deal-id span {
    color: #999;
}
.deal-time {
    float: right;
    color: #999;
}
.deal-content-container {
    height: 140px;
    padding: 12px;
}
.pd0 {
    padding: 0;
}
.deals-item-img {
    width: 16.5%;
    height: 86px;
    float: left;
    border: 1px solid #e5e5e5;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}
.deals-item-img img {
    height: 80px;
    display: block;
    margin: 0 auto;
}
.deals-item-content {
    float: left;
    width: 83.5%;
    padding-left: 20px;
}
.deals-item-title {
    font-size: 16px;
    max-height: 42px;
    overflow: hidden;
    margin-bottom: 15px;
}
.deals-item-info {
    font-size: 14px;
    color: #999;
    margin: 0;
    overflow: hidden;
}
.deals-item-info li {
    float: left;
}
.deals-item-info .space-vertical-lines {
    background-color: #d5d5d5;
    margin-top: 6px;
}
.space-vertical-lines {
    width: 1px;
    height: 32px;
    background-color: #efefef;
    float: left;
    margin-top: 11px;
}
.dealRequest-cashback {
    padding: 0 20px;
}
.dealRequest-price{
    padding-right: 20px;
}
.coupon-code{
    border: solid #f93 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: #f93;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
}
.dealRequest-points{
    padding-left: 10px;
}
.list-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
}
.processing {
    background-color: #f93;
}
.btn-w-m{
    background-color: #f93;
    color: white !important;
}
.deal-nav-a {
    display: inline-block;
    border-right: 1px solid #f1f4f5;
    padding: 9px 20px;
}
.deal-nav-a span {
    padding: 0 0 13px;
    border-bottom: 2px solid #fff;
    font-size: 14px;
}
.deal-nav-active {
    border-color: #f93!important;
    color: #f93;
    font-size: 14px;
}
.final-price{
    padding-right: 5px;
}
.process-status{
    margin-top: 30px;
}
.deal-info-title {
    margin: 32px 0 0 10px;
    font-size: 16px;
    font-weight: 700;
}
.deal-detail-container {
    border: 1px solid #f2f2f2;
    margin-top: 18px;
    font-size: 14px;
}
.deal-detail-theader {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #f2f2f2;
    margin: 0;
}
.deal-detail-tbody {
    padding: 15px;
    margin: 0;
}
.deal-detail-img {
    height: 86px;
    width: 86px;
    border: 1px solid #e5e5e5;
    float: left;
}
.deal-detail-img img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 3px;
}
.deal-detail-title {
    height: 52px;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px;
    line-height: 1.3;
    padding-left: 10px;
}
.deal-detail-dealid {
    text-align: left;
    font-size: 12px;
    color: #aaa;
    float: left;
    padding-left: 10px;
}
.deal-info-td {
    height: 86px;
    line-height: 52px;
}
.detail-review-container {
    padding: 20px 0;
    margin: 19px 0 0;
    border: 1px solid #efefef;
}
.share-view-left {
    padding: 0 40px 0 30px;
}
.detail-review-title {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
    margin-left: 30px
}
.deal-detail-order {
    margin: 30px 80px 0 30px!important;
}
.amz-info-input {
    border: 1px solid #c7c7c7;
    background-color: #fff;
}
.share-view-right {
    padding: 0 54px 0 40px;
    font-size: 16px;
    border-left: 1px solid #e5e5e5;
}
.surebox-btn {
    border: 1px solid #797979;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
}
.account-nav-mydeal {
    padding: 10px 0;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid #f1f1f1;
}
.nav-mydeal-img {
    height: 50px;
    width: 50px;
    background-size: contain!important;
    background-position: 50%!important;
    border: 1px solid #f1f1f1;
    display: block;
    margin-top: 4px;
    background-repeat: no-repeat;
}
.nav-mydeal-title {
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 0;
}
.nav-mydeal-content {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #666;
}
.nav-mydeal-content li {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    display: inline-block;
}
.account-deal-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.product_name{
    margin-top: 10px;
}
.star_img{
    width: 100px;
    margin: 5px 10px 0 10px;
}
.my-btn{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 0 15px !important;
}
.aboutus-tip-container {
    width: 150px;
    text-align: center;
    display: inline-block;
}
.method-link {
    color: #2b95ff !important;
}
.method-link:hover{
    text-decoration: underline !important;
}
.no-thanks{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    float: unset;
    margin: 0;
    background-color: #ccc !important;
}
.make-sure{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-left: 20px;
}

@media (min-width:1400px) {
    .container {
        width:1370px
    }
}
@media (min-width:769px) {
    .step-item-icon {
        margin-right: 0;
        width: 20px;
        display: inline-block;
        margin-bottom: 0;
    }
    .container {
        padding: 0!important;
    }
    .navbar {
        border-radius:4px
    }
    .navbar-static-top {
        border-radius:0
    }
    .navbar-header {
        float:left
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-right .dropdown-menu {
        right:0;
        left:auto
    }
    .navbar-right .dropdown-menu-left {
        right:auto;
        left:0
    }
    .navbar-left {
        float:left!important
    }
    .navbar-right {
        float:right!important;
        margin-right:-15px
    }
    .navbar-right~.navbar-right {
        margin-right:0
    }
    .message-count {
        width:22px;
        height:22px;
        border-radius:50%;
        position:absolute;
        top:20px;
        right:-10px;
        background-color:#fff;
        text-align:center;
        line-height:18px;
        font-size:12px;
        color:#f93;
        border:2px solid #f93
    }
    .shade-container {
        height: 232px;
    }
    .navbar-static-top{
        margin-bottom: 10px;
    }
    .split{
        height: 20px;
        margin-top: 75px;
    }
    .inline-view-all {
        font-size: 18px;
        line-height: 32px;
    }
    #footer {
        padding-top: 30px;
        margin-bottom: 0;
    }
    .copyright {
        padding: 20px 0;
        text-align: center;
        font-size: 12px;
    }
    #wish-btn-container {
        float: right;
        font-size: 14px;
        color: #666;
        text-align: center;
        padding: 1px;
        position: inherit;
    }
    .modal-dialog {
        width: 600px;
        position: relative;
        margin: 80px auto !important;
    }
    .banner-title-detail {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
    }
    .point-mess-container {
        width: 70%;
    }
}
@media (max-width:768px) {
    #bs-navbar .navbar-nav li {
        border:1px solid #fff
    }
    #logo {
        width:200px!important
    }
    #logo h1 a {
        height:20px
    }
    .banner-title-detail {
        font-size:18px;
        margin-top:20px
    }
    .detail-bannerdel-price {
        font-size:36px
    }
    .deals-classify-section {
        margin-top: 10px;
        background-color: #fff;
        padding: 20px 10px;
        margin-bottom: 10px;
    }
    .deal-type-title {
        font-weight: 700;
        margin: 20px 0;
        font-size: 16px;
    }
    #footer{
        font-size: 12px;
    }
    #back-top {
        background-color: rgba(0,0,0,.4);
        border-radius: 50%;
        bottom: 80px;
        color: #fff;
        display: none;
        height: 40px;
        position: fixed;
        right: 10px;
        text-align: center;
        width: 40px;
        opacity: .9;
        line-height: 35px;
        z-index: 100;
        -webkit-transition: all .1s ease-in-out 0s;
        transition: all .1s ease-in-out 0s;
    }
    #back-top span {
        font-size: 22px;
        line-height: 40px;
    }
    .page_box{
        background-color: #fff;
        margin-left: -15px;
        margin-right: -15px;
    }
    .pagination {
        margin-top: 20px;
    }
    .login_box{
        margin-top: 55px;
    }
    .signin-container{
        min-height: 508px;
    }
    #detail-banner{
        background: #fff;
        margin-top: 45px;
    }
    .zoomContainer{
        display: none !important;
    }
    .user-email {
        margin: 10px 0 15px;
        font-size: 16px;
        color: #222;
        text-align: left;
    }
    .mt55 {
        margin-top: 45px;
    }
    .upload-img {
        display: block;
        width: 70px;
        height: 70px;
        padding: 0;
        margin: 0;
        position: relative;
        float: left;
        background-size: contain!important;
        background-position: 50%!important;
        border: 1px solid #f1f1f1;
        border-radius: 50%;
    }
    .point-container {
        margin-right: 40px;
    }
    .news-container {
        float: left;
    }
    .point-amount {
        color: #666;
    }
    .container-bg {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 45px;
        margin-bottom: 0px;
    }
    #deal-detal-tab li a {
        font-size: 10px;
        padding: 10px 5px;
    }
    .nav-tabs {
        border-bottom: none;
    }
    .account-content-container{
        width: auto;
        padding: 10px;
        padding-top: 0px;
    }
    .public-profile {
        width: 90%;
        margin: 20px auto 0;
    }
    #changepassword-form .form-control, #paypal-account .form-control, .public-profile .form-control{
        width: 100%;
    }
    .birth-select {
        width: 84px !important;
        margin-right: 0;
    }
    .flex-box{
        display: flex;
        justify-content: space-between;
    }
    #deal-detal-tab li.active a {
        border: none;
        border-radius: 0;
        border-bottom: 2px solid #ff9936;
        background-color: #fff;
    }
    .deal-list-item {
        border: none;
        margin: 0;
        padding-bottom: 5px;
        padding-top: 3px;
        border-bottom: 1px solid #e5e5e5;
    }
    .deal-content-container {
        height: auto;
        padding: 10px 0;
    }
    .deals-item-img{
        height: auto;
        border: 1px solid #f1f1f1;
        margin-top: 4px;
    }
    .deals-item-img img {
        width: 50px;
        height: 50px;
    }
    .deals-item-content {
        padding-left: 10px;
    }
    .deals-item-title {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .deals-item-info {
        display: flex;
        color: #666;
    }
    .deals-item-info li {
        font-size: 12px;
        float: none;
        display: inline-block;
        text-align: center;
    }
    .dealRequest-cashback {
        padding: 0 10px;
        width: 30%;
    }
    .dealRequest-price{
        padding-right: 0px;
        width: 40%;
    }
    .coupon-code{
        font-weight: normal;
        border-radius: 3px;
        padding: 1px 5px;
        font-size: 10px;
    }
    .dealRequest-points{
        padding-left: 10px;
    }
    .coupon-code-title{
        font-size: 13px;
    }
    .process-status {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 10px;
    }
    .option-list{
        margin-top: 10px;
    }
    .operation-btn {
        float: left;
        width: 48.5%;
        display: inline-block;
        padding: 0 6px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #e5e5e5;
        font-size: 12px;
        border-radius: 3px;
        margin-right: 4px;
        margin-bottom: 5px;
    }
    .detail-review-container {
        padding: 0;
        border: none;
    }
    .share-view-left {
        padding: 0 10px;
    }
    .detail-review-title {
        font-size: 14px;
        font-weight: 700;
        margin: 15px 0 10px;
    }
    .deal-detail-order {
        margin: 0px 20px 20px 20px!important;
    }
    .share-view-right {
        padding: 0 10px;
        font-size: 14px;
        border-left: none;
        border-top: 1px solid #f1f1f1;
    }
    .product_name{
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .star_img{
        margin: 5px 10px 0 10px;
    }
    .deal-account-list {
        font-size: 11px;
    }
    .origin-price {
        font-size: 11px;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #logo{
        width: 150px;
    }
    .navbar-header{
        width: 150px;
    }
    #bs-navbar li a{
        padding: 0 8px;
        font-size: 13px!important;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
    .v3-relprice {
        font-size: 26px;
    }
}
@media only screen and (max-width: 1400px) and (min-width: 1200px){
    .detail-step-item {
        font-size: 12px;
    }
    .deal-detail-img {
        height: 70px;
        width: 70px;
    }
    .deal-detail-title {
        margin-bottom: 5px;
        line-height: 1.2;
        height: 48px;
    }
    .deal-info-td {
        height: 70px;
        line-height: 70px;
    }
}
@media only screen and (min-width: 1200px){
    .dealRequest-cashback {
        padding: 0 20px;
    }
}
